@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../node_modules/flowbite/**/*.js';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #f1e5cf;
  --color-primary-100: #ecdcbf;
  --color-primary-200: #e3cb9f;
  --color-primary-300: #daba7f;
  --color-primary-400: #d1a960;
  --color-primary-500: #c89840;
  --color-primary-600: #a1792e;
  --color-primary-700: #765822;
  --color-primary-800: #4a3815;
  --color-primary-900: #1f1709;
  --color-primary-950: #090703;
  --color-primary: #c89840;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    scroll-padding-top: 100px;
}

*:disabled{
    @apply cursor-not-allowed;
}

button{
    @apply !cursor-pointer;
}

/* Nav bar */
.scrolled__navbar {
    @apply bg-white border-b text-gray-700 shadow-md;
}

.init__navbar {
    @apply bg-black/50 backdrop-filter backdrop-blur-2xl text-white;
}

/* end navbar */

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Overlay btn */
.overlay-btn {
    @apply bg-transparent border  border-slate-100 inline-block py-3 px-6 rounded-full text-white uppercase tracking-widest transition-colors duration-500 relative overflow-hidden z-10 font-medium;
}

.overlay-btn::after {
    @apply bg-primary-500 absolute left-0 overflow-hidden bottom-0 h-full w-0 rounded-full transition-all duration-500 -z-10;

    content: "";
}

.overlay-btn:hover {
    color: #fff;
}

.overlay-btn:hover::after {
    width: 100%;
}

/* swiper paginator */

/* Customize pagination bullets */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d5db; /* Gray color */
    opacity: 1; /* Ensure visibility */
    margin: 0 4px;
    transition: background-color 0.3s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
    @apply bg-primary-500!;
    transform: scale(1.2); /* Enlarge active bullet */
}
